  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= device.name %></h5>
            <div class="custom-control custom-switch" >
              <%= button_to device.status,  controller: "devices", action: "toggle_device", id: device.id%>
            </div>
    </div>
  </div>
  



