  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= device.name %></h5>
            <div class="custom-control custom-switch" >
                <input type="checkbox" class="custom-control-input" id="customSwitch-<%= device.name %>">
                <label class="custom-control-label" for="customSwitch-<%= device.name %>"></label>
            </div>
    </div>
  </div>
  