.groupFormCheck{
 display: grid;
 justify-content: start;


}

.groupFormCheck > .groupFormList{

    list-style-type: none;
    padding: 1vh;
}

.nav-item{
    display: flex;
}

.dropdown{
    padding-right: 5vh;
}