<h1>Editing scheduling</h1>

<%= render "form", scheduling: @scheduling %>

<br>

<div>
  <%= link_to "Show this scheduling", @scheduling %> |
  <%= link_to "Back to schedulings", schedulings_path %>
</div>
